.single__feature{
  background-color: #318AD4;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.single__feature h2 i {
  font-size: 2.5rem;
  color: white;
}

.single__feature h4 {
  font-weight: 600;
  color: white;
}

.single__feature p{
  color: white;
  line-height: 25px;
}

.single__feature a{
  color: white;
  text-decoration: none;
  text-align: right;
}
