.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}
.hero__content h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
}
.hero__content p{
  font-size: 20px;
} 
.hero__content {
  padding-top: 60px;
}

.circle1{
  background-image: url('../../assests/images/Group498.png');
  background-repeat: no-repeat;
  background-position:left bottom;
}

.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}
span{
  color: #318AD4;
}

.homeBtn1, .homeBtn2 {
  background-color: #318AD4; /* Green */
  border-radius: 10px;
  border-color: white ;
  color: white;
  padding: 15px 32px;
  margin-right: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.circle{
    width: 495px;
    height: 495px;
    border-radius: 247.5px / 247.5px;
    background:#318AD4;
  }
.hero__img{
  margin-left: 55px;
  margin-top: 25px;
}
.circel2{
  margin-top: -280px;
}


  
